<nav class="navbar">
  <div class="navbar-brand">
    <a class="navbar-item" href="/">
      <img src="https://www.dccomics.com/sites/all/themes/dc_comics_bp/logo.png" alt="CheeseBored">
      &nbsp;
      DC Database
    </a>
  <div class="navbar-burger burger" data-target="#mobile-menu" onclick="document.querySelector('.navbar-menu').classList.toggle('is-active');">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>
  <div id="mobile-menu" class="navbar-menu">
    <div class="navbar-end">
      <a class="navbar-item" href="/characters">All Characters</a>
      <a class="navbar-item" href="/novels">All Graphic Novels</a>
      <% if(locals.isAuthenticated) { %>
      <a class="navbar-item" href="/characters/new">Add a Character</a>
      <a class="navbar-item" href="/novels/new">Add a Graphic Novel</a>
      <a class="navbar-item" href="/profile">My Profile</a>
      <a class="navbar-item" href="/logout">Logout</a>
      <% } else { %>
      <a class="navbar-item" href="/register">Register</a>
      <a class="navbar-item" href="/login">Login</a>
      <% } %>
    </div>
  </div>
</nav>
