<section class="hero is-large homepage background">
  <div class="hero-body">
    <div class="container has-text-left">
      <div class="home-page-div">
        <h1 class="home-page-title">DC Heroes</h1>
        <h1 class="home-page-title">For DC Lovers</h2>
      </div>
    </div>
  </div>
</section>
