<div class="container">
  <form method="POST" action="/login">
    <div class="field">
      <label for="email" class="has-text-black">Email</label>
      <input class="input" type="text" name="email" id="email">
    </div>
    <div class="field">
      <label for="password" class="has-text-black">Password</label>
      <input class="input" type="password" name="password" id="password">
    </div>
    <button class="button" class="has-text-black">Login</button>
  </form>
</div>
